/* Fontes */
@font-face {
    font-family: SF_PRO_TEXT;
    src: url('fonts/SF-Pro-Text-Bold.otf');
}

/* Estilos gerais */
body {
    font-family: 'Epilogue', sans-serif, 'Akrobat ExtraBold';
    padding-top: 30px; /* Para compensar a altura do menu fixo */
    margin: 0; /* Remover margens padrão */
}

.navbar {
    background-color: #1e1c1c !important; /* Nova cor de fundo */
    transition: top 0.3s; /* Transição suave para o menu fixo */
}

.container-fluid {
    padding: 20px;
}

.entregas_title {
    color: #ffffff;
    background-color: rgb(49, 49, 49);
    font-family: "SF_PRO_TEXT";
    font-size: 30px;
}

.card-img-top,
.card-body,
.card-title,
.card-text {
    background-color: #0c0c0c; /* Fundo cinza */
}

/* Estilo para o cabeçalho com imagem de fundo */
.row:first-child h1 {
    color: black; /* Alterando a cor do texto do cabeçalho para preto */
    padding-top: 150px; /* Espaçamento superior */
    text-align: center;
}

/* Estilo para os quadrados de produtos */
.card-title,
.card-text {
    color: black; /* Alterando a cor do texto dos cards para preto */
}

/* Estilo para o título do feedback e contato */
h2 {
    color: black; /* Alterando a cor do texto dos títulos de feedback e contato para preto */
    margin-top: 30px;
}

/* Estilo para o rodapé */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para o slider de feedback */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item img {
    width: 70%; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    margin: 0 15%; /* Margens laterais de 15% */
    display: block; /* Para garantir que as margens laterais funcionem */
}


.stars {
    /* Adicione estilos para exibir as estrelas */
}

.feedback-text {
    margin-top: 20px;
    font-size: 18px;
}

.profile img {
    width: auto;  /* Mantém a largura automática para preservar a proporção */
    height: auto;  /* Altura automática para manter proporção */
    max-width: 200px;  /* Largura máxima de 200px */
    max-height: 200px;  /* Altura máxima de 200px */
    border-radius: 50%;  /* Torna a imagem circular */
    display: block;  /* Garante que a imagem é tratada como bloco para centralização */
    margin: 10px auto;  /* Centraliza a imagem horizontalmente e adiciona espaço acima e abaixo */
}

.profile span {
    font-weight: bold;
}

.stars {
    margin-top: 10px;
}

.star {
    font-size: 24px;
    color: #ffc107; /* Cor amarela para as estrelas preenchidas */
}

/* Estilos para o vídeo de fundo */
#video-background {
    position: relative; /* Definindo como relativo para o vídeo ficar dentro dele */
    width: 100%;
    height: 100vh; /* Definindo altura total da tela */
    overflow: hidden; /* Escondendo qualquer conteúdo que ultrapasse o vídeo */
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* O vídeo se ajustará automaticamente à largura */
    min-height: 100%; /* Ocupará no mínimo a altura total da tela */
    z-index: -1; /* Colocando o vídeo atrás do conteúdo */
    object-fit: cover; /* Garantindo que o vídeo cubra todo o espaço */
}

/* Estilos para a overlay escura */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582); /* Cor preta com 20% de opacidade */
}

/* Estilos para o conteúdo sobreposto */
.content {
    position: absolute;
    top: 50%; /* Alinhamento vertical ao centro */
    left: 50%; /* Alinhamento horizontal ao centro */
    transform: translate(-50%, -50%); /* Centralização */
    text-align: center;
}

.content img {
    width: 200px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
}

.content button {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #d3d3d3; /* Cor cinza gelo */
    color: #000; /* Cor do texto */
    border: none; /* Removendo borda */
    cursor: pointer; /* Cursor ao passar por cima */
    border-radius: 20px; /* Cantos arredondados */
}

.content button:hover {
    background-color: #b0b0b0; /* Altera a cor ao passar o mouse */
}

.div1text {
    font-size: 40px;
    font-family: "SF_PRO_TEXT", sans-serif; /* Adicionando a fonte Epilogue */
    color: #fff;
}

/* Estilo para o rodapé */
footer {
    color: #fff;
    padding: 40px 0;
}

footer h4 {
    font-size: 18px;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
}

.bg-dark {
    background-color: #000000 !important; /* Alterando a cor de fundo para cinza escuro */
}

/* Estilos para a seção de perguntas e respostas */
.faq-container {
    max-width: 600px; /* Largura máxima da seção */
    margin: 50px auto; /* Espaçamento no topo e entre seções, centralizando na horizontal */
    padding: 0 30px; /* Adiciona um espaçamento lateral */
}

.faq-item {
    margin-bottom: 20px; /* Espaçamento entre as perguntas e respostas */
    border-radius: 10px; /* Cantos arredondados */
    overflow: hidden; /* Garante que o conteúdo dentro das perguntas e respostas não ultrapasse os cantos arredondados */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar as perguntas e respostas */
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    font-family: "SF_PRO_TEXT", sans-serif; /* Adicionando a fonte SF_PRO_TEXT */
}

.faq-answer {
    display: none;
    margin-top: 10px;
    font-family: "SF_PRO_TEXT", sans-serif; /* Adicionando a fonte SF_PRO_TEXT */
}

.faq-question,
.faq-answer {
    padding: 15px; /* Espaçamento interno */
}

.faq-answer-visible {
    display: block;
}

/* Estilos para o formulário de contato */
.contact-form-container {
    max-width: 500px; /* Define a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    background-color: #000000; /* Cor de fundo do formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para efeito de elevação */
}

.form-group {
    margin-bottom: 20px; /* Espaçamento entre os campos */
}

label {
    font-weight: bold; /* Deixa o texto do label em negrito */
    color: #fff; /* Cor do texto branca para os labels */
}

.form-control {
    background-color: rgb(53, 53, 53); /* Cor de fundo preta para os campos do formulário */
    color: #fff; /* Cor do texto branca para os campos do formulário */
    border-radius: 10px; /* Cantos arredondados */
    border: none; /* Remove a borda */
}

.btn-primary {
    width: 100%; /* Botão ocupa 100% da largura do contêiner */
    border-radius: 10px; /* Cantos arredondados */
}

.contact-title {
    background-color: #ffffff;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 30px; /* Espaçamento inferior */
    color: #000000; /* Cor do texto branca para o título */
    font-family: 'SF_PRO_TEXT', sans-serif; /* Fonte do texto */
    font-size: 24px; /* Tamanho do texto */
}

/* Estilos para o contêiner de banners */
.banner-container {
    text-align: center; /* Centralizar horizontalmente o conteúdo */
    margin-top: 30px; /* Espaçamento superior para separar do conteúdo acima */
}

/* Estilo para os slides de banner */
.banner-slide {
    display: inline-block; /* Permitir que os slides sejam alinhados em linha */
}

/* Estilo para o botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 5vh; /* Distância do fundo: 5% da altura da viewport */
    right: 5vw; /* Distância da direita: 5% da largura da viewport */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
    width: 60px; /* Largura fixa para manter o botão circular */
    height: 60px; /* Altura fixa para manter o botão circular */
    background-color: #25D366; /* Cor de fundo do WhatsApp */
    text-decoration: none; /* Remover sublinhado do link */
    border-radius: 50%; /* Tornar o botão circular */
    display: flex; /* Alterar para flex para centralizar o ícone */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adicionar sombra para efeito de elevação */
}

.whatsapp-icon {
    width: 30px; /* Largura do ícone */
    height: auto; /* Altura automática para manter a proporção */
}

/* Estilo para a galeria de imagens */
.gallery-section {
    text-align: center;
    padding: 50px 20px;
}

.gallery-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.gallery-section p {
    font-size: 16px;
    margin-bottom: 30px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Estilos para o botão de solicitar orçamento */
.request-quote-btn {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.request-quote-btn:hover {
    background-color: #333;
}


/* Estilos para a galeria */
/* Estilo para os slides */
.slide {
    margin: 0 5px; /* Adiciona margem ao redor de cada slide */
    border-radius: 20px; /* Adiciona cantos arredondados */
  }
  
  /* Estilo para as imagens dentro dos slides */
  .slide img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço dentro do slide */
    border-radius: 20px; /* Adiciona cantos arredondados às imagens */
  }
  
  /* Adiciona margens ao redor do contêiner da galeria */
  .gallery {
    margin: 20px auto; /* Margem superior e inferior de 20px e centraliza horizontalmente */
    width: 80%; /* Define a largura do contêiner */
  }
  
  /* Ajusta a largura dos slides */
  .slick-slide {
    width: calc(100% - 10px); /* Largura dos slides (100% - margem entre eles) */
  }
  
  /* Centraliza os slides */
  .slick-list {
    overflow: visible; /* Permite que os slides ultrapassem os limites da área de visualização */
  }
  
  /* Define a margem entre os slides */
  .slick-slide:not(:last-child) {
    margin-right: 10px; /* Margem entre os slides, exceto para o último slide */
  }

/* Título da Seção de Depoimentos */
h2 {
    width: 100%; /* Faz o título ocupar a largura total da linha */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color: #333;
    text-align: center; /* Centraliza o título */
}

/* Seção de Depoimentos */
.testimonial-section {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam embalados em múltiplas linhas */
    justify-content: space-between; /* Espaçamento uniforme */
    align-items: flex-start; /* Alinha os depoimentos no topo */
    margin: 20px; /* Margem em torno da seção */
    padding: 0; /* Sem padding interno que possa afetar */
}

.testimonial {
    flex: 1 0 48%; /* Flexibilidade para não crescer, mas ter 48% de largura base */
    margin-bottom: 20px; /* Espaço abaixo de cada depoimento */
    padding: 15px; /* Espaçamento interno */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    text-align: center;
}

.feedback-image {
    width: 100%; /* As imagens ocupam toda a largura do depoimento */
    border-radius: 30px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
    width: 100%; /* Ocupa toda a largura do depoimento */
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Espaço antes do próximo conteúdo */
}

.client-avatar {
    width: 60px; /* Dimensão reduzida para imagem de perfil */
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -30px;
    right: 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    font-family: Arial, sans-serif;
}

.banner h2 {
    margin-bottom: 20px;
}

.marcas {
    width: 80%;
}

.marcas img {
    width: 100px;
    height: auto;
    transition: transform 0.3s;
}

.marcas img:hover {
    transform: scale(1.1);
}

.slick-slide {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .marcas img {
        width: 80px;
    }
}
 


/* Media queries */


