/* Estilos gerais */
body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}


.navbar {
    background-color: #000 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) !important;
}


.navbar-brand img {
    max-height: 40px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #cfcfcf !important;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Container principal */
main.container {
    margin-top: 80px;
}

/* Estilos do artigo */
article {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 10px;
}

article h2 {
    font-size: 1.5rem;
    color: #444;
    margin-top: 20px;
}

article p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

article ul {
    margin-left: 20px;
    list-style-type: disc;
}

article ul li {
    margin-bottom: 5px;
}

/* Estilo para imagens */
article figure {
    margin: 20px 0;
}

article img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article figcaption {
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}


/* Responsividade */
@media (max-width: 768px) {
    article h1 {
        font-size: 1.5rem;
    }

    article h2 {
        font-size: 1.2rem;
    }

    .navbar-brand img {
        max-height: 30px;
    }
}

/* Garantir que a imagem fique centralizada e responsiva */
figure.text-center {
    margin: 0 auto;  /* Centraliza a figura no contêiner */
    padding: 15px;   /* Adiciona um pouco de espaço ao redor da imagem */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    display: block;  /* Torna a figura um elemento de bloco, permitindo a centralização */
}

figure.text-center img {
    width: 100%;      /* Faz a imagem ocupar 100% da largura disponível */
    max-width: 800px; /* Limita o tamanho máximo da imagem para 800px */
    height: auto;     /* Mantém a proporção da imagem */
    border-radius: 10px; /* Mantém o efeito de borda arredondada */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    figure.text-center {
        padding: 10px; /* Menos padding em telas menores */
    }
}


/* Rodapé do artigo */
/* Rodapé do artigo */
footer {
    background-color: #000000 !important;  /* Fundo preto puro */
    color: #fff !important;  /* Texto branco */
    text-align: center !important;
    padding: 40px 0 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destaque */
}


footer h4 {
    font-size: 18px !important;
}

footer p {
    margin-top: 20px !important;
    font-size: 14px !important;
}
