/* Alterações para o menu de navegação */
.navbar {
    background-color: #1e1c1c !important; /* Cor ajustada */
    transition: top 0.3s; /* Transição suave */
}

/* Ajuste no botão flutuante do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Posição ajustada */
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1); /* Ampliar levemente no hover */
}

.whatsapp-icon {
    width: 24px;
    height: 24px;
}

/* Estilo atualizado para o rodapé */
footer {
    background-color: #000000!important;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
    margin: 5px 0;
    line-height: 1.5;
    color: #ccc !important; /* Texto em tom de cinza para destaque sutil */
}

footer a {
    color: #25D366 !important; /* Cor dos links */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline !important;
}

/* Ajuste nas seções principais */
main.container {
    margin-top: 80px;
}

.article h2 a {
    color: #000;
    text-decoration: none;
}

.article h2 a:hover {
    text-decoration: underline;
}

/* Estilo ajustado para o formulário de contato */
.contact-form {
    background-color: #000 !important; /* Fundo ajustado */
    border: 1px solid #ddd;
}

.contact-form button {
    background-color: #007bff !important;
}

.contact-form button:hover {
    background-color: #0056b3 !important;
}
